// resets, variables, mixins, and any utility classes.
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

// html
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

i {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: #3EA1DB;

  &:active {
    color: #3EA1DB;
  }

  &:visited {
    color: #3EA1DB;
  }
}

// selection
::selection {
  color: #B5D8FD;
  background: #4048B8;
}

// scrollbar
::-webkit-scrollbar {
  width: 0.5rem;
  padding: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #368FC2;

  &:hover {
      background-color: #2C729C;
  }
}

// mixins
@mixin flexLayout($var1, $var2) {
  flex: 1 1 $var1;
  display: flex;
  flex-flow: $var2 wrap;
}