// resets, variables, mixins, and any utility classes.
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

i {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: #3EA1DB;

  &:active {
    color: #3EA1DB;
  }

  &:visited {
    color: #3EA1DB;
  }
}

@mixin flexLayout($parametro, $orientacao) {
  flex: 1 1 $parametro;
  display: flex;
  flex-flow: $orientacao wrap;
}