// container and any grid systems.
body {
    display: flex;
    flex-flow: column wrap;
}

header {
    @include flexLayout(15rem, column);
    padding: 2rem 15rem 2rem 15rem;
    gap: 5rem;
    background: linear-gradient(88.27deg, #574AE8, #3EA1DB);
}

main {
    @include flexLayout(auto, column);
    align-items: center;
    margin: 5rem 15rem 5rem 15rem;
    gap: 4rem;
}

footer {
    @include flexLayout(auto, row);
    justify-content: center;
    margin: 5rem 15rem 5rem 15rem;
}