// container and any grid systems.
body {
    display: flex;
    flex-flow: column wrap;
}

header {
    @include flexLayout(12.5rem, column);
    padding: 2rem 15rem 2rem 15rem;
    gap: 5rem;
    background: linear-gradient(88.27deg, #574AE8, #3EA1DB);

    @include mobile {
        padding: 3rem 1.5rem 3rem 1.5rem;
        gap: 0;
        justify-content: center;
    }

    @include tablet {
        padding: 3rem 1.5rem 3rem 1.5rem;
        gap: 1rem;
        justify-content: center;
    }

    @include laptop {
        padding: 3rem 1.5rem 3rem 1.5rem;
        gap: 2rem;
        justify-content: center;
    }
}

main {
    @include flexLayout(auto, column);
    align-items: center;
    margin: 5rem 15rem 5rem 15rem;
    gap: 4rem;

    @include mobile {
        margin: 3rem 1.5rem 3rem 1.5rem;
        gap: 2rem;
    }

    @include tablet {
        margin: 3rem 1.5rem 3rem 1.5rem;
        gap: 2rem;
    }

    @include laptop {
        margin: 3rem 1.5rem 3rem 1.5rem;
        gap: 2rem;
    }
}

footer {
    @include flexLayout(auto, row);
    justify-content: center;
    margin: 5rem 15rem 5rem 15rem;

    @include mobile {
        margin: 1rem 1.5rem 3rem 1.5rem;
    }

    @include tablet {
        margin: 1rem 1.5rem 3rem 1.5rem;
    }

    @include laptop{
        margin: 1rem 1.5rem 3rem 1.5rem;
    }
}