// container and any grid systems.
body {
    display: flex;
    flex-flow: column wrap;
}

header {
    flex: 1 1 15rem;
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 15rem 2rem 15rem;
    gap: 5rem;
    background: linear-gradient(88.27deg, #574AE8, #3EA1DB);
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 5rem 15rem 5rem 15rem;
    gap: 4rem;
}

footer {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5rem 15rem 5rem 15rem;
}